h1 Upload your files

br

= simple_form_for @upload, :html=>{:multipart => true } do |f|
  = f.label :title
  = f.text_field :title, required: true
  = f.label :file
  = f.file_field :file, required: true
  = f.submit

br
= link_to "Home", root_path

javascript:
  $(function() {
    $("#new_upload").plupload({
      runtimes : 'html5,flash,silverlight,html4',
      url : '#{uploads_path}',
      max_file_size : '8mb',
      chunk_size: '1mb',
      rename: true,
      sortable: true,
      dragdrop: true,
      views: {
        list: true,
        thumbs: true,
        active: 'thumbs'
      },
      multipart_params: {
        '#{request_forgery_protection_token}': '#{form_authenticity_token}',
        '#{Rails.application.config.session_options[:key]}': '#{request.session_options[:id]}'
      },
      flash_swf_url : '/plupload/js/Moxie.swf',
      silverlight_xap_url : '/plupload/js/Moxie.xap',
      init: {
        FilesAdded: function(up, files) {
          alert('Selected files: ' + files.length);
        }
      }
    });
  });
